*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: radial-gradient(100% 225% at 100% 0%,#faff00 0%,#f000f0 100%),
    linear-gradient(235deg,#241e92 0%,#000000 100%),
    linear-gradient(45deg, #241e92 0%,#241e92 40%,#5432d3 40%,#5432d3 50%,#7b6cf6 50%,#7b6cf6 70%,#e5a5ff 70%,#e5a5ff 100%),
    linear-gradient(180deg,#01024e 0%,#01024e 43%,#543864 43%,#543864 62%,#8b4367 62%,#8b4367 80%,#ff6464 80%,#ff6464 100%);
    background-blend-mode: overlay,hard-light,overlay,normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form{
    width: 900px;
    height: 500px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 6px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    box-shadow: 20px 40px 40px 6px rgba(0,0,0,0.2);
}
.loginvia{
    width: 350px;
    height: 500px;
    position: relative;
    left: 10px;
    text-align: center;
    box-shadow: -2px -2px 5px lightcoral;
}
h2{
    position: relative;
    top: 30%;
    padding: 10px;
}
.loginvia .images{
    position: relative;
    top: 40%;
    display: flex;
    justify-content: space-evenly;
}
.images img{
    padding: 8px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px darkcyan;
    filter: invert(100%);
    transition: all 0.1s;
}
.images img:hover{
    cursor: pointer;
    transform:  translateY(-10px);
    box-shadow: -5px 2px 2px #1a8c42;
}
.login{
    width: 350px;
    height: 500px;
    position: relative;
    left: -10px;
    text-align: center;
    box-shadow: rgba(50,50,93,0.25) 0px 50px 100px -20px,rgba(0,0,0,0.3)0px 30px 60px -30px,
    rgba(10,37,64,0.35) 0px -2px 6px 0px inset;
}
form{
    position: relative;
    top: 18%;
    padding: 10px;
}
form h2{
    margin-bottom: 20px;
}
input:not(:last-of-type){
    width: 250px;
    padding: 7px;
    border: none;
    margin: 5px 0px;
    box-shadow: -2px 2px 5px #ff6464;
}
input:last-of-type{
    margin: 20px 0px 0px -136px;
}
label{
    margin-left: -5px;
}
p:last-of-type{
    margin-top: 15px;
}
button{
    color: white;
    background: transparent;
    margin-top: 10px;
    padding: 5px 15px;
    border-radius: 6px;
    box-shadow: -2px -2px 5px lightcoral;
}
#ribbon{
    position: relative;
    left: -302px;
    top: -163px;
    transform: rotate(270deg);
}